{% extends 'layout.html' %}
{% block content %}
    <div class="page-content">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="page-title mb-1">首页</h4>
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">欢迎餐饮推荐系统</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
